
.craftstats-macro {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(1, 4vw);
    grid-gap: auto;
    margin: 10px 0px 0px 25px;
}

.craftstats-macro img {
    border-color: rgb(8, 8, 8);
    border-radius: calc(var(--main-scalar) * .5px);
    box-shadow: 0px 3px 15px rgba(0,0,0,.4);
    cursor: pointer;
    height: calc(var(--main-scalar) * 4px);
    width: calc(var(--main-scalar) * 4px);
}