:root {
    --main-scalar: 12;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

  /* Whole container */
.crafting-sim-buffs-active {
    position: relative;
    height: 100%;
    width: 80%;
    min-width: 650px;
    margin: 20px auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
    color: #fff;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}



/*#region - Current Buffs Bar */  
.crafting-sim-buffs-active {
    height: calc(var(--main-scalar) * 10px);
    background: rgb(216, 65, 178);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: calc(var(--main-scalar) * 1px);
}

.crafting-sim-buffs-active-header {
    margin: 0px 0px 0px 25px;
    font-family: var(--font-family);
}

.crafting-sim-buffs-active-image {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(1, 4vw);
    grid-gap: auto;
    margin: 10px 0px 0px 25px;
}

.crafting-sim-buffs-active img {
    /* border-color: rgb(8, 8, 8);
    border-radius: calc(var(--main-scalar) * .5px);
    box-shadow: 0px 3px 15px rgba(0,0,0,.4); */
    cursor: pointer;
    height: calc(var(--main-scalar) * 5px);
    width: calc(var(--main-scalar) * 4px);
}
/*#endregion*/