:root {
    
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

/* Whole container */
.crafting-sim-macro {
    position: relative;
    height: 100%;   
    width: var(--global-width);
    min-width: var(--global-min-width);
    margin: 20px auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
    color: #fff;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
         
    border: solid;
    margin-bottom: 10px;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    background: var(--global-grey);
}


.export-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, .5);
    opacity: .5;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.export-overlay-window {
    position: fixed;
    height: 600px;
    width: 400px;
    background: rgb(5, 5, 5, 1);
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
}

.export-overlay-macro {
    padding: 5px 5px 5px 5px;
    opacity: 1;
    position: relative;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    resize: none;
}

.import-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, .5);
    opacity: .5;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.import-overlay-window {
    position: fixed;
    height: 600px;
    width: 400px;
    background: rgb(5, 5, 5, 1);
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
}

.import-overlay-macro {
    padding: 5px 5px 5px 5px;
    opacity: 1;
    position: relative;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    resize: none;
}

.importMacro {
    margin-left: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

.exportMacro {
    margin-left: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

.importMacroButton {
    margin-left: 15px;
    padding-left: 3px;
    padding-right: 3px;
    bottom: 0;
}

.closeExportMacroButton {
    margin-left: 15px;
    padding-left: 3px;
    padding-right: 3px;
    bottom: 0;
}


/*#region - Current Macro Bar */
.crafting-sim-macro-header {
    margin: 0px 0px 0px 25px;
    height: 25px;
    font-family: var(--font-family);
    padding-top: calc(var(--main-scalar) * 1px);
}

.crafting-sim-macro-header-left {
    height: var(--global-header-height);
    font-size: var(--global-header-font-size);
    
    text-align: left;
    float: left;
    margin-right: calc(var(--main-scalar) * 1px);
    width: 350px;
}

.crafting-sim-import-export {
    float: right;
    text-align: right;
    padding-right: calc(var(--main-scalar) * 2px);
    margin-left: calc(var(--main-scalar) * 1px);
}

.crafting-sim-macro-actions {
    clear: both;
    position: relative;
    margin: 40px 0px 0px 25px;
}

.crafting-sim-actions img {
    border-color: rgb(8, 8, 8);
    border-radius: calc(var(--main-scalar) * .5px);
    box-shadow: 0px 3px 15px rgba(0,0,0,.4);
    cursor: pointer;
    margin-right: 2.5%;
    height: 5%;
    width: 5%;
    border-bottom: .5px solid rgb(68, 68, 68);
    border-right: .5px solid rgb(68, 68, 68);
    border-left: .5px solid rgb(68, 68, 68);
    border-top: .5px solid rgb(151, 151, 151);
}

.crafting-sim-macro-actions img {
    display: inline;
    border-radius: calc(var(--main-scalar) * .5px);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, .4);
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 2.5%;
    /* height: 5%;
    width: 5%; */

    border-bottom: .5px solid rgb(68, 68, 68);
    border-right: .5px solid rgb(68, 68, 68);
    border-left: .5px solid rgb(68, 68, 68);
    border-top: .5px solid rgb(151, 151, 151);
}

.crafting-sim-macro-actions .dragging {
    opacity: .5;
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
    .crafting-sim-macro img {
        margin-right: 2%;
        height: 55px;
        width: 55px;
    }
}

@media only screen and (max-width: 1280px) {
    .crafting-sim-macro img {
        margin-right: 1%;
        height: 60px;
        width: 60px;
    }
}

@media only screen and (min-width: 1600px) {
    .crafting-sim-macro img {
        margin-right: 2.5%;
        height: 70px;
        width: 70px;
    }
}

/*#endregion*/