.stickysim__header_container {
    
}

.stickysim__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin: 5rem;
}

.stickysim__craft-classes {
    display: flex;
    justify-content: center;
    height: 10%;
}

.stickysim__craft-classes img {
    
    margin-left: 1.5%;
    margin-right: 1.5%;
    align-self: center;

    border-color: black;
    border-radius: 16px;
    border-width: medium;
    border-style: solid;
    cursor: pointer;
}

.craft-classes-selected {
    background-image: linear-gradient(147deg, var(--global-teal) 10%, black 50%, var(--global-pink) 90%);
}

.craft-classes-unselected {
    background-color: var(--global-grey);
}



@media only screen and (min-width: 2001px) {
    .stickysim__craft-classes img {
        height: 180px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 2000px) {
    .stickysim__craft-classes img {
        height: 140px;
    }
}

@media only screen and (max-width: 1399px) {
    .stickysim__craft-classes img {
        height: 100px;
    }
}