:root {

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

  /* Whole container */
.crafting-sim-container {
    position: relative;
    background: green;
    height: 100%;
    width: var(--global-width);
    min-width: var(--global-min-width);
    margin: 20px auto;
    padding: 10px 10px 10px 10px;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
    color: #fff;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;

    border: solid;
    margin-bottom: 10px;
    border-width: 4px;
    border-color: black;
    border-radius: 20px;
    background: var(--global-grey);

    padding-bottom: 50px;
}

.crafting-sim-actions {
    font-family: var(--font-family);
    height: 100%;
}

.crafting-sim-actions-title {
    height: var(--global-header-height);
    font-size: var(--global-header-font-size);
    width: auto;
    margin: auto;

    top: 0px;
    margin-left: 15px;
}

.crafting-sim-actions img {
    display: inline;
    border-color: rgb(8, 8, 8);
    border-radius: calc(var(--main-scalar) * .5px);
    box-shadow: 0px 3px 15px rgba(0,0,0,.4);
    cursor: pointer;
    margin-right: 2.5%;
    height: 5%;
    width: 5%;
    border-bottom: .5px solid rgb(68, 68, 68);
    border-right: .5px solid rgb(68, 68, 68);
    border-left: .5px solid rgb(68, 68, 68);
    border-top: .5px solid rgb(151, 151, 151);
}

.crafting-sim-synthesis {
    margin: 0px 0px 20px 25px;
    padding-top: 20px;
}

.crafting-sim-synthesis h3 {
    padding-bottom: 20px;
}

.crafting-sim-synthesis-actions {
}

.crafting-sim-quality {
    margin: 0px 0px 20px 25px
}

.crafting-sim-quality h3 {
    padding-bottom: 20px;
}

.crafting-sim-quality-actions {
}

.crafting-sim-buffs {
    margin: 0px 0px 20px 25px;
}

.crafting-sim-buffs h3 {
    padding-bottom: 20px;
}

.crafting-sim-buffs-actions {
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.crafting-sim-food-container {
    justify-content: center;
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
    .crafting-sim-actions img {
        margin-right: 2%;
    }
    
    .crafting-sim-actions img {
        height: 55px;
        width: 55px;
    }
}

@media only screen and (max-width: 1280px) {
    .crafting-sim-actions img {
        margin-right: 1%;
    }
    
    .crafting-sim-actions img {
        height: 65px;
        width: 65px;
    }
}

@media only screen and (min-width: 1600px) {
    .crafting-sim-actions img {
        margin-right: 2.5%;
    }
    
    .crafting-sim-actions img {
        height: 70px;
        width: 70px;
    }
}