.stickysim {
    clear:both;
    -webkit-text-size-adjust: auto;
}

.stickysim__navbar {
    display: flex;
    text-decoration: none;
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    height: 380px;

    padding: 2rem 6rem;
}

.stickysim__navbar-links {
    flex: 1;
}

.stickysim__navbar-links_logo {
    position: absolute;
    /* margin-top: 2rem; */
    margin-left: 2rem;
    top: 60px;
    height: 320px;
    z-index: 0;
}

.stickysim__navbar-links_logo img {
    height: 320px;
    object-fit: fill;
    object-position: 0% 100%;
}

.stickysim__navbar-links_container {
    font-size: 4rem;
    font-weight: 800;
    display: flex;
    position: relative;
    top: 250px;
    flex-direction: row;
    width: 50%;
    float: left;
    z-index: 1;
}

.stickysim__navbar-links_items :link {
    padding-right: 60px;
}


.stickysim__navbar-header {
    color: black;
    top: 0px;
    margin-top: -50px;
    float: right;
    width: 75%;
    right: 0;
}

/* .stickysim__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

.stickysim-body {
    padding-top: 5rem;
    top: 5px;
    border: 5px;
    border-radius: calc(5px);
    clear:both;
}

/* .stickysim__navbar-links_container p,
.stickysim__navbar-sign p,
.stickysim__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
} */

/* .stickysim__navbar-sign button,
.stickysim__navbar-menu_container button {
    padding: .5rem 1rem;
    font-family: var(--font-family);
    background: cyan;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
} */

/* .stickysim__navbar-menu  {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.stickysim__navbar-menu svg {
    cursor: pointer;
} */

/* .stickysim__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(black);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
} */
/* 
.stickysim__navbar-menu_container p {
    margin: 1rem 0;
} */

.stickysim__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .stickysim__navbar-links_container {
        display: none;
    }

    .stickysim__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .stickysim__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .stickysim__navbar {
        padding: 2rem;
    }

    .stickysim__navbar-sign {
        display: none;
    }

    .stickysim__navbar-menu_container {
        top: 20px;
    }

    .stickysim__navbar-menu_container-links-sign {
        display: block;
    }
}