:root {
    --main-scalar: 12;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

  /* Whole container */
.crafting-sim-container {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 20px auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
    color: #fff;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

.crafting-sim-stats-and-recipe {
    border: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    background: #333;
    height: 200px;
    padding: 10px 10px 10px 10px;
}

.crafting-sim-recipe-container {
    /* height: 100%; */
    width: 39%;
    right: 0;
    left: 60%;
    position: absolute;
    align-items: center;
    /* background: tomato; */
}

.crafting-sim-recipe-title {
    height: 40px;
    width: 90%;
    padding-right: 3%;
    margin: 0 auto;
}

.crafting-sim-recipe-icon {
    height: 130px;
    width: 130px;
    position: relative;
    margin: 0 auto;
}

.crafting-sim-recipe-icon img {
    height: 100%;
    width: 100%;
    display: block;
}

.crafting-sim-stats-container {
    height: 100%;
    float: left;
    width: 60%;
    left: 0;
    position: relative;
    /* background: rgb(92, 81, 68); */
}

.crafting-sim-crafter-stats label {
    display: inline-block;
    transform: translateX(0);
    margin-top: 0px;
    margin-right: 20px;
    left: 0;
    padding: 0px 0px 0px 0px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    -webkit-appearance: none;
}

.crafting-sim-crafter-stats input {
    display: inline-block;
    width: 120px;
    margin: 50px 20px 0px 0px;
    padding: 10px 0px 10px 15px;
    font-weight: 400;
    border: 0;
    border-radius: 3px;
    outline: 0;
}

.crafting-sim-crafter-stats-title {
    position: absolute;
}

.crafting-sim-food-and-tinct-container {
    border: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    background: #333;
    height: 100px;
    margin-top: 10px;
    /* background: orange; */
}

.crafting-sim-food-container {
    /* position: absolute; */
    height: 90px;
    margin-left: 5%;
    width: 50%;
    z-index: 1;
    left: 5%;
    /* background: rgb(216, 189, 140); */
    line-height: 0px;
}

.crafting-sim-meal-dropdown-search-title {
    margin-top: 45px;
    position: relative;
    width: 10%;
    float: left;
    font-size: 30px;
}

.crafting-sim-meal-dropdown-button {
    margin-top: 25px;
    margin-left: 48px;
    padding-left: 10px;
    height: 40px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    /* position: relative; */
    width: 250px;
}

.crafting-sim-meal-dropdown-hq-icon {
    width: 25px;
    height: 25px;
    margin: 32px 0px 0px -60px;
    position: absolute;
    cursor: pointer;
}

.crafting-sim-meal-dropdown-clear-icon {
    width: 25px;
    height: 25px;
    margin: 32px 0px 0px -30px;
    position: absolute;
    cursor: pointer;
}

.crafting-sim-meal-dropdown-content {
    position: absolute;
    margin-left: 111px;
    padding-left: 10px;
    background: #fff;
    box-shadow: 10px 10px 10px 6px rgba(255, 255, 255, 0.06);
    font-size: small;
    font-weight: bold;
    color: #333;
    text-shadow: none;
    width: 250px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1rem;
    z-index: 3;
}

.crafting-sim-meal-dropdown-meal {
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    /* justify-content: flex-start; */
}

.crafting-sim-meal-dropdown-name {
    padding: 8px 0px;
    cursor: pointer;
    transition: all .2s;
}

.crafting-sim-meal-dropdown-meal:hover {
    background: #d8d8d8;
}

.crafting-sim-meal-dropdown-level {
    margin: -25px 0px 0px 80%;
    position: absolute;
}


.crafting-sim-meal-dropdown-meal-icon {
    margin-top: 2px;
    width: 35px;
    height: 35px;
    /* margin: -12px -5px; */
    /* margin-right: 5px; */
    /* margin-left: 10px; */
}

.crafting-sim-meal-dropdown-meal-name {
    /* position: absolute; */
    padding-left: 5px;
    align-self: center;
    width: 180px;
    /* margin-left: 45px; */
}

.crafting-sim-meal-text {
    padding-top: 10px;
    margin-right: 60px;
    align-items: center;
    float: right;
    width: 140px;
    height: 80px;
    display: grid;
    grid-template-columns: 85px 80px;
    grid-row: auto auto;
}

.crafting-sim-food-and-tinct-container .crafting-sim-tinct-container {
    position: absolute;
    height: 90px;
    margin-left: 55%;
    margin-top: 5px;
    width: 40%;
    z-index: 1;
    /* background: rgb(119, 105, 78); */
}

.crafting-sim-status-container {
    height: 320px;
    margin-top: 10px;
    background: yellow;
}

/*#region - Progress Bar */
.crafting-sim-progress-status {
    padding-top: calc(var(--main-scalar) * 1px);
    margin: 0px calc(var(--main-scalar) * 2px) 0px calc(var(--main-scalar) * 2px);
}

.crafting-sim-progress-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 2vw);
    grid-gap: auto;
}

.crafting-sim-progress-header-right {
    text-align: right;
    padding-right: calc(var(--main-scalar) * 2px);
}

.crafting-sim-progress-bar-total {
    background-color: rgb(41, 41, 41);
    border-radius: calc(var(--main-scalar) * 1px);
    height: calc(var(--main-scalar) * 2px);
    width: 100%;
}

.crafting-sim-progress-bar-current {
    padding-top: 10px;
    background-color: rgb(24, 158, 12);
    border-radius: calc(var(--main-scalar) * 1px);
    height: calc(var(--main-scalar) * 2px);
    width: 0;
    opacity: 0;
    transition: .5s ease;
}
/*#endregion*/

/*#region - Quality Bar */  
.crafting-sim-quality-status {
    padding-top: calc(var(--main-scalar) * 1px);
    margin: calc(var(--main-scalar) * 2px) calc(var(--main-scalar) * 2px) 0px calc(var(--main-scalar) * 2px);
}

.crafting-sim-quality-header {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 2vw);
    grid-gap: auto;
}

.crafting-sim-quality-header-right {
    text-align: right;
    padding-right: calc(var(--main-scalar) * 2px);
}

.crafting-sim-quality-bar-total {
    background-color: rgb(41, 41, 41);
    border-radius: calc(var(--main-scalar) * 1px);
    height: calc(var(--main-scalar) * 2px);
    width: 100%;
}

.crafting-sim-quality-bar-current {
    padding-top: 10px;
    background-color: rgb(47, 66, 175);
    border-radius: calc(var(--main-scalar) * 1px);
    height: calc(var(--main-scalar) * 2px);
    width: 0;
    opacity: 0;
    transition: .5s ease;
}
/*#endregion*/

/*#region - CP Bar */  
.crafting-sim-CP-status {
    padding-top: calc(var(--main-scalar) * 1px);
    margin: calc(var(--main-scalar) * 2px) calc(var(--main-scalar) * 2px) 0px calc(var(--main-scalar) * 2px);
}

.crafting-sim-CP-header {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 2vw);
    grid-gap: auto;
}

.crafting-sim-CP-header-right {
    text-align: right;
    padding-right: calc(var(--main-scalar) * 2px);
}

.crafting-sim-CP-bar-total {
    background-color: rgb(41, 41, 41);
    border-radius: calc(var(--main-scalar) * 1px);
    height: calc(var(--main-scalar) * 2px);
    width: 100%;
}

.crafting-sim-CP-bar-current {
    padding-top: 10px;
    background-color: rgb(228, 185, 47);
    border-radius: calc(var(--main-scalar) * 1px);
    height: calc(var(--main-scalar) * 2px);
    width: 0;
    opacity: 0;
    transition: .5s ease;
}
/*#endregion*/

/*#region - Current Buffs Bar */  
.crafting-sim-buffs-active {
    height: calc(var(--main-scalar) * 10px);
    background: rgb(216, 65, 178);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: calc(var(--main-scalar) * 1px);
}

.crafting-sim-buffs-active-header {
    margin: 0px 0px 0px 25px;
    font-family: var(--font-family);
}

.crafting-sim-buffs-active-image {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(1, 4vw);
    grid-gap: auto;
    margin: 10px 0px 0px 25px;
}

.crafting-sim-buffs-active img {
    /* border-color: rgb(8, 8, 8);
    border-radius: calc(var(--main-scalar) * .5px);
    box-shadow: 0px 3px 15px rgba(0,0,0,.4); */
    cursor: pointer;
    height: calc(var(--main-scalar) * 5px);
    width: calc(var(--main-scalar) * 4px);
}
/*#endregion*/

/*#region - Current Macro Bar */  
.crafting-sim-macro {
    height: calc(var(--main-scalar) * 10px);
    background: blue;
    margin-bottom: 10px;

}

.crafting-sim-macro-header {
    margin: 0px 0px 0px 25px;
    font-family: var(--font-family);
    padding-top: calc(var(--main-scalar) * 1px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 2vw);
    grid-gap: auto;
}

.crafting-sim-macro-header-right {
    text-align: right;
    padding-right: calc(var(--main-scalar) * 2px);
    margin-left: calc(var(--main-scalar) * 1px);
}

.crafting-sim-macro-actions {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(1, 4vw);
    grid-gap: auto;
    margin: 10px 0px 0px 25px;
}

.crafting-sim-macro img {
    border-color: rgb(8, 8, 8);
    border-radius: calc(var(--main-scalar) * .5px);
    box-shadow: 0px 3px 15px rgba(0,0,0,.4);
    cursor: pointer;
    height: calc(var(--main-scalar) * 4px);
    width: calc(var(--main-scalar) * 4px);
}
/*#endregion*/


/* .crafting-sim-buff-selector {

}

.crafting-sim-buff-dropdown {

} */

.crafting-sim-actions {
    font-family: var(--font-family);
    height: 450px;
    background: green;
}

.crafting-sim-actions img {
    border-color: rgb(8, 8, 8);
    border-radius: calc(var(--main-scalar) * .5px);
    box-shadow: 0px 3px 15px rgba(0,0,0,.4);
    cursor: pointer;
    height: calc(var(--main-scalar) * 4px);
    width: calc(var(--main-scalar) * 4px);
}

.crafting-sim-synthesis {
    margin: calc(var(--main-scalar) * 1px) 0px 0px 25px;
}

.crafting-sim-synthesis-actions {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(1, 4vw);
    grid-gap: auto;
}

.crafting-sim-quality {
    margin: 0px 0px 0px 25px
}

.crafting-sim-quality-actions {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(1, 4vw);
    grid-gap: auto;
}

.crafting-sim-buffs {
    margin: 0px 0px 0px 25px;
}

.crafting-sim-buffs-actions {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(1, 4vw);
    grid-gap: auto;
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.crafting-sim-food-container {
    justify-content: center;
}
