:root {
    --main-scalar: 12;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.crafting-sim-meal-and-tincture-container {
    width: 80%;
    position: relative;
    border: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    background: #333;
    color: #fff;
    height: 100px;
    margin-top: 10px;
    margin: 20px auto;

    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.crafting-sim-meal-container {
    height: 90px;
    z-index: 1;
    left: 5%;
    /* background: rgb(216, 189, 140); */
    line-height: 0px;
}

.crafting-sim-meal-dropdown-search-title {
    margin-top: 45px;
    margin-left: 20px;
    position: relative;
    width: 90px;
    height: 25px;
    float: left;
    font-size: 30px;
}

.crafting-sim-meal-dropdown-button {
    margin-top: 25px;
    /* margin-left: 68px; */
    padding-left: 10px;
    height: 40px;
    width: 230px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
}

.crafting-sim-meal-dropdown-hq-icon {
    width: 25px;
    height: 25px;
    margin: 32px 0px 0px -60px;
    position: absolute;
    cursor: pointer;
}

.crafting-sim-meal-dropdown-clear-icon {
    width: 25px;
    height: 25px;
    margin: 32px 0px 0px -30px;
    position: absolute;
    cursor: pointer;
}

.crafting-sim-meal-dropdown-content {
    position: absolute;
    margin-left: 90px;
    padding-left: 10px;
    background: #fff;
    box-shadow: 10px 10px 10px 6px rgba(255, 255, 255, 0.06);
    font-size: small;
    font-weight: bold;
    color: #333;
    text-shadow: none;
    width: 250px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1rem;
    z-index: 9;
}

.crafting-sim-meal-dropdown-meal {
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
}

.crafting-sim-meal-dropdown-name {
    padding: 8px 0px;
    cursor: pointer;
    transition: all .2s;
}

.crafting-sim-meal-dropdown-meal:hover {
    background: #d8d8d8;
}

.crafting-sim-meal-dropdown-level {
    margin: -25px 0px 0px 80%;
    position: absolute;
}


.crafting-sim-meal-dropdown-meal-icon {
    margin-top: 2px;
    width: 35px;
    height: 35px;
    /* margin: -12px -5px; */
    /* margin-right: 5px; */
    /* margin-left: 10px; */
}

.crafting-sim-meal-dropdown-meal-name {
    /* position: absolute; */
    padding-left: 5px;
    align-self: center;
    width: 180px;
    /* margin-left: 45px; */
}

.crafting-sim-meal-text {
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    align-items: center;
    float: right;
    display: grid;
    grid-template-columns: 60px 60px;
    grid-row: auto auto;
}

.crafting-sim-meal-and-tinct-container .crafting-sim-tinct-container {
    position: absolute;
    height: 90px;
    margin-left: 55%;
    margin-top: 5px;
    width: 40%;
    z-index: 1;
    /* background: rgb(119, 105, 78); */
}


.crafting-sim-tincture-container {
    height: 90px;
    z-index: 1;
    left: 55%;
    /* background: rgb(216, 189, 140); */
    line-height: 0px;
}

.crafting-sim-tincture-dropdown-search-title {
    margin-top: 45px;
    margin-left: 15px;
    position: relative;
    width: 140px;
    float: left;
    font-size: 30px;
}

.crafting-sim-tincture-dropdown-button {
    margin-top: 25px;
    /* margin-left: 48px; */
    padding-left: 10px;
    height: 40px;
    width: 300px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    z-index: 1;
}

.crafting-sim-tincture-dropdown-hq-icon {
    width: 25px;
    height: 25px;
    margin: 32px 0px 0px -60px;
    position: absolute;
    cursor: pointer;
}

.crafting-sim-tincture-dropdown-clear-icon {
    width: 25px;
    height: 25px;
    margin: 32px 0px 0px -30px;
    position: absolute;
    cursor: pointer;
}

.crafting-sim-tincture-dropdown-content {
    position: absolute;
    margin-left: 91px;
    padding-left: 10px;
    background: #fff;
    box-shadow: 10px 10px 10px 6px rgba(255, 255, 255, 0.06);
    font-size: small;
    font-weight: bold;
    color: #333;
    text-shadow: none;
    width: 250px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1rem;
    z-index: 3;
}

.crafting-sim-tincture-dropdown-tincture {
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    /* justify-content: flex-start; */
}

.crafting-sim-tincture-dropdown-name {
    padding: 8px 0px;
    cursor: pointer;
    transition: all .2s;
}

.crafting-sim-tincture-dropdown-tincture:hover {
    background: #d8d8d8;
}

.crafting-sim-tincture-dropdown-level {
    margin: -25px 0px 0px 80%;
    position: absolute;
}


.crafting-sim-tincture-dropdown-tincture-icon {
    margin-top: 2px;
    width: 35px;
    height: 35px;
    /* margin: -12px -5px; */
    /* margin-right: 5px; */
    /* margin-left: 10px; */
}

.crafting-sim-tincture-dropdown-tincture-name {
    /* position: absolute; */
    padding-left: 5px;
    align-self: center;
    width: 180px;
    /* margin-left: 45px; */
}

.crafting-sim-tincture-text {
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    align-items: center;
    float: right;
    display: grid;
    grid-template-columns: 60px 60px;
    grid-row: auto auto;
}



@media only screen and (min-width: 1450px) {
    .crafting-sim-meal-and-tincture-container {
        grid-template-columns: 500px 650px;
    }
}

@media only screen and (max-width: 1450px) {
    .crafting-sim-meal-and-tincture-container {
        height: 200px;
    }

    .crafting-sim-tincture-container {
        justify-items: center;
    }
}