:root {
    --main-scalar: 12;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.crafting-sim-stats-and-recipe {
    height: 200px;
    width: 80%;
    min-width: 650px;
    margin: 20px auto;
    padding: 10px 10px 10px 10px;

    border: solid;
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    background: #333;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
    color: #fff;
}

.crafting-sim-recipe-container {
    min-width: 250px;
    width: 39%;
    right: 0;
    left: 60%;
    position: absolute;
    align-items: center;
    /* background: tomato; */
}

.crafting-sim-recipe-title {
    height: 40px;
    width: 420px;
    direction: rtl;
    margin-right: 30%;
    /* margin: 0 auto; */
    text-align: right;
    float: right;
}

.crafting-sim-recipe-icon {
    height: 130px;
    width: 130px;
    position: relative;
    margin: 0 auto;
}

.crafting-sim-recipe-icon-img {
    height: 100%;
    width: 100%;
    display: block;
}

.crafting-sim-stats-container {
    height: 100%;
    width: 60%;
    min-width: 350px;
    float: left;
    left: 0;
    position: relative;
    /* background: rgb(92, 81, 68); */
}

.crafting-sim-crafter-stats {
    display: grid;
    grid-template-columns: 260px 260px;
    grid-row: 150px;
    right: 0;
    /* grid-row: 150px 150px; */
}

.crafting-sim-crafter-stats-craftsmanship {
    justify-self: right;
}

.crafting-sim-crafter-stats-control {
    justify-self: right;
}

.crafting-sim-crafter-stats-CP {
    justify-self: right;
}

.crafting-sim-crafter-stats label {
    display: inline-block;
    transform: translateX(0);
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    right: 0;
    justify-self: right;
    padding: 0px 0px 0px 0px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    -webkit-appearance: none;
}

.crafting-sim-crafter-stats input {
    display: inline-block;
    width: 80px;
    margin: 40px 0px 0px 0px;
    padding: 10px 0px 10px 15px;
    font-weight: 400;
    border: 0;
    border-radius: 3px;
    outline: 0;
    right: 0;
    justify-self: right;
}

.crafting-sim-crafter-stats-title {
    position: absolute;
}


@media only screen and (min-width: 880px) and (max-width: 1400px) {
    .crafting-sim-stats-and-recipe{
        height: 200px;
    }
    .crafting-sim-crafter-stats {
        grid-template-columns: 260px 260px;
    }
}

@media only screen and (max-width: 880px) {
    .crafting-sim-stats-and-recipe{
        height: 290px;
    }
    .crafting-sim-crafter-stats {
        grid-template-columns: 260px;
    }
}

@media only screen and (min-width: 1400px) {
    .crafting-sim-crafter-stats {
        grid-template-columns: 260px 260px 260px;
    }
}