:root {

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.crafting-sim-stats-and-recipe {
    height: auto;
    width: var(--global-width);
    min-width: var(--global-min-width);
    margin: 20px auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: table;

    border: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 20px;
    background: var(--global-grey);

    letter-spacing: .03em;
    color: #fff;
}

.crafting-sim-recipe-container {
    min-width: 450px;
    width: 40%;
    display: table-cell;
    align-items: center;
    top: 0px;
    vertical-align: top;
}

.crafting-sim-recipe-title h3 {
    height: var(--global-body-height);
    font-size: var(--global-body-font-size);
    width: auto;
    margin: auto;
    top: 0px;
    text-align: center;
}

.crafting-sim-recipe-icon {
    height: 130px;
    width: 130px;
    position: relative;
    margin: auto;
}

.crafting-sim-recipe-icon-img {
    height: 100%;
    width: 100%;
}

.crafting-sim-stats-container {
    display: table-cell;
    min-width: 300px;
    /* width: 900px; */
    float: left;
    left: 0;
    position: relative;
}

.crafting-sim-crafter-stats {
    font-size: var(--global-body-font-size);
    right: 0;
    display: grid;
    grid-template-columns: auto auto auto;
}

.crafting-sim-crafter-stats-craftsmanship {
    justify-self: right;
}

.crafting-sim-crafter-stats-control {
    justify-self: right;
}

.crafting-sim-crafter-stats-CP {
    justify-self: right;
}

.crafting-sim-crafter-stats label {
    display: inline-block;
    transform: translateX(0);
    font-size: 18px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    right: 0;
    justify-self: right;
    padding: 0px 0px 0px 0px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
}

.crafting-sim-crafter-stats input {
    display: inline-block;
    width: 80px;
    margin: 20px 0px 0px 0px;
    padding: 10px 0px 10px 15px;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    border-radius: 3px;
    outline: 0;
    right: 0;
    justify-self: right;
}

.crafting-sim-crafter-stats-title {
    height: var(--global-header-height);
    font-size: var(--global-header-font-size);
    margin-left: 15px;
}


@media only screen and (min-width: 1280px) and (max-width: 1600px) {
    .crafting-sim-stats-and-recipe{
        height: 200px;
    }
    .crafting-sim-crafter-stats {
        grid-template-columns: 260px 260px;
    }
}

@media only screen and (max-width: 1280px) {
    .crafting-sim-stats-and-recipe{
        height: 290px;
    }
    .crafting-sim-crafter-stats {
        grid-template-columns: 260px;
    }
}

@media only screen and (min-width: 1600px) {
    .crafting-sim-crafter-stats {
        grid-template-columns: 260px 260px 260px;
    }
}